html{
}

img{
    width:100%;
}


.company{
    color: rgba(255,255,255,.6);
    font-size: 2em;
    position: fixed;
    z-index: 10;
    text-align: center;
    width: 100%;
    top: 2em;
    font-style:italic;
    font-weight:300;
    z-index:12;
}

.left-hero-border{
    height: 1000px;
    color: black;
    background-color: #001408;
    width: 15vw;
    left: 0;
    position: fixed;
    z-index: 10;
}
.right-hero-border{
    height: 1000px;
    color: black;
    background-color: #001408;
    width: 15vw;
    right: 0;
    position: fixed;
    z-index: 10;
}

.gif{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:24px;
    margin-bottom:24px;
}

.gif-container{
    padding-bottom:128px;
    margin-top:128px;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom:-8em;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 60%;
    margin-left:20%;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size:24px;
}
body{
    margin:0;
    padding:0;
    background-color:black;
}

.fog{
    position: fixed;
    margin-top:-100x;
    min-width:800px;
    max-width: 100%;
    opacity: 0.2;
    background-color: rgb(0,0,0);
    margin-left: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 32px 33px 99px 113px hsl(246 85% 2% / 1) inset;
}

.hero{
    position: fixed;
    max-width: 100%;
    min-width:800px;
    margin-left: auto;
    left: 0;
    right: 0;
    margin-top:-15vw;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 32px 33px 99px 113px hsl(246 85% 2% / 1) inset;
}


.hero-header{
    margin-left: 13%;
    margin-right: 13%;
    font-size: 2em;
    border-bottom: solid 1px;
    padding-bottom: 12px;
}

.hero-align{
    display:flex;
    justify-content: space-around;
}
.hero-text{
    color: white;
    position: absolute;
    top: 50%;
    z-index: 50;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20%;
}

.hero-description{
    font-size: .4em;
    opacity: .6;
    margin-top: 12px;
    border-top: solid 1px;
    padding-top: 13px;
    font-weight:100;
    font-style:italic;
}

.hero-selections{
    border: solid;
    border-radius: 3px;
    padding: 12px 64px;
    font-size: 2em;
    margin: 32px;
    background-color:rgba(0,0,0,.5);
}

.full{
    max-width: 100%;
    filter: blur(3px);
}

.app-bar{
    max-height:72px;
    height:72px;
    background-color:#0b061d;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    color:#929292;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    z-index:13;
}


.content-header{
    text-align: center;
    font-size: 2em;
    padding: 12px;
    color:rgba(255,255,255,.5);
}

.footer{
    color: rgba(255,255,255,.4);
    margin: 24px;
    text-align:right;
}

.content-subheader{
    text-align: center;
    font-size: 1.5em;
    padding: 12px;
    color:rgba(255,255,255,.4);
    font-style: italic;
}

.content{
    position:absolute;
    top:600px;
    background-color:black;
    z-index:13;    
    width: 100%;
}

.groundtile{
    background-image: url("Assets/Images/ground.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 200px;
    margin-top: -64px;
    z-index:14;
    position: relative;
}

.ground2tile{
    background-image: url(Assets/Images/topcavern.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 125px;
    /* margin-top: -64px; */
    z-index: 14;
    position: relative;
}


.ground3tile{
    background-image: url(Assets/Images/templetile.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 125px;
    /* margin-top: -64px; */
    z-index: 14;
    position: relative;
}



.playerandprops{
    background-image: url("Assets/Images/playerandprops.png");
    width: 766px;
    height: 289px;
    margin-top: -397px;
    margin-left: 31%;
    position: absolute;
    z-index:15;
}

.playtype-section{
    display:flex;
    justify-content: space-around;
    flex-direction: row;

    width:80%;
    padding-left:10%;
    padding-right:10%;
}

.playtype-header{
    color:hsla(26, 100%, 60%, 1);
    width: 45%;
    font-size: 3em;
    position: sticky;
    min-height: 250px;
    max-height: 800px;
    top: 0px;
    padding-top:12px;
    background-color: #001408;
    z-index: 1;
    padding-top: 4em;
}

.playtype-description{
    color: white;
    width: 50%;
    min-width:400px;
    opacity: .7;
    font-weight:100;
    margin-left:62px;
}


.description-header{
 font-weight: 400;
 margin-bottom:12px;
 font-size:1.2em;
 color: rgb(90, 171, 219);
}

.playtype-description-subsection{
    padding-bottom: 24px;
    border-bottom: solid 1px rgba(255,255,255,0.4);
}

.title{
    margin-top:-9%;
    position:fixed;
}

@media only screen and (min-width: 1800px){
    .gif-container{
        margin-top: 0;
    }
}

@media only screen and (max-width: 2000px) {
    
    .left-hero-border{
        height: 1000px;
        color: black;
        background-color: #001408;
        width: 10vw;
        left: 0;
        position: fixed;
    }
    .right-hero-border{
        height: 1000px;
        color: black;
        background-color: #001408;
        width: 10vw;
        right: 0;
        position: fixed;
    }
}
@media only screen and (max-width: 1850px) {
    
    .left-hero-border{
        height: 1000px;
        color: black;
        background-color: #001408;
        width: 0%;
        left: 0;
        position: fixed;
    }
    .right-hero-border{
        height: 1000px;
        color: black;
        background-color: #001408;
        width: 0%;
        right: 0;
        position: fixed;
    }
    
    .content{
        position:absolute;
        top:400px;
        background-color:#001408;
        width:100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media  only screen  and (max-width: 1212px) {

    .company{
        top:3em;
    }
    .playerandprops{
        background-image: url("Assets/Images/playerandprops.png");
        width: 766px;
        height: 273px;
        margin-top: -372px;
        margin-left: 119px;
        transform: scale(.8);
        position: relative;
    
    }

    
    .groundtile{
        background-image: url("Assets/Images/ground.png");
        background-repeat: repeat-x;
        width: 125%;
        height: 200px;
        margin-left: -12%;
        margin-top: -90px;
        transform: scale(.8);
        position: relative;
    }
    
    .content{
        position:absolute;
        top:400px;
        background-color:#001408;
        width:100%;
        margin-left: 0;
        margin-right: 0;
    }

    

  }

  
@media only screen and (max-width: 1000px) {
html{
    font-size:32px;
}
    .content{
        position:absolute;
        top:400px;
        background-color:#001408;
        width:100%;
        margin-left: 0;
        margin-right: 0;
    }
    .playtype-section{
        display:flex;
        justify-content: space-around;
        flex-direction: column;
        width:100%;
        padding: 24px 24px 0 24px;
    }
    .playtype-header{
        width:100%;
        font-size: 3em;
        padding-bottom:12px;
        border-bottom:solid 1px white;
        padding-top: 0px;
    }

    .video-container {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        margin-bottom:0em;
    }
    
    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-left:0%;
    }

    .playtype-description{
        width: 92%;
        margin-left:0;
    }

    
  }

  
@media only screen and (max-width: 1000px) {

    .company{
        top:2   em;
    }
}