html{
    font-family: roboto;
    font-size:24px;
    color:white;
    font-weight:300;
    background-color:#222;
}

.footer{
    position:static;
    bottom:12px;
    left:12px;
}

.characters{
    display: flex;
    align-content: space-evenly;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.card{
    padding: 12px;
    margin:24px;

    border-radius: 4px;

    background-color:#444;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
}
.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.character-card{
    width: 40%;
}


.traits{
    border:solid black 4px;
    padding: 12px;
    margin:12px;
}
.trait-box{
    border:solid black 2px;
    padding: 12px;
    margin:12px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.trait{
    border: solid #333 2px;
    background-color: #222;
    padding: 12px;
    margin: 0px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
}



.trait:hover{
    border: solid #444 2px;
    background-color: #333;
}

#character-name{
    cursor:pointer;

    padding: 12px;
    border: solid #444 2px;
    background-color: #333;

    transition: all .3s;
}

#character-name:hover{

    border: solid #333 2px;
    background-color: #222;
    border:solid grey 1px;
}


.action-columns{
    padding:24px;
    margin:24px;
}
.action-row{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#dialogue{
    width: 97%;
    min-height: 5em;
    font-size: 1.5em;
    background-color: #222;
    border-radius: 4px;
    color: white;
    padding: 12px;
}


.name{
    font-size:2em;
}

.positive{
    background-color:hsl(120,20%,50%);
}
.neutral{
    background-color:hsl(120,0%,50%);
}
.negative{
    background-color:hsl(0,20%,50%);
}

.output{
    height: 440px;
    overflow-y: scroll;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4c63af;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #4c63af;
  }
  
  .act{
    background-color: hsl(30,72%,50%);
    width: 40%;
    font-size: 1.5em;
    border-radius: 4px;
    min-height: 64px;
    margin-left: 58%;
  }